<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!--titulo-->
    <header><h1>Casos de uso del machine learning supervisado</h1></header>
    <!--Que es-->
    <section class="seccion1 sombra" >  
        <h2>¿Qué es el machine learning supervisado?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Natus beatae quod voluptatem nihil voluptate. Deleniti repellat nihil repudiandae labore laboriosam exercitationem, voluptas minus sapiente earum est, recusandae quam inventore! Commodi.</p>     
    </section>
    <!--Como Funciona-->
    <section class="seccion2 sombra">  
        <h2>¿Como Funciona?</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero iure at saepe architecto magni quis deserunt rerum eveniet nihil consequuntur. 
            Nulla non fuga repudiandae odio ad facere quod ipsa quas?</p>
    </section>
    <!--Casos de Uso-->
    <section class="seccion3 sombra">  
        <h2>Casos de Uso</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto alias fugiat, molestias similique vero quisquam veritatis nam quaerat, molestiae quam harum itaque dolorum. Sed ullam commodi ipsum, numquam itaque vel!</p>
        <img src="{{ url_for('static', filename='img/img1.jpg') }}" alt="Imagen">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto alias fugiat, molestias similique vero quisquam veritatis nam quaerat, molestiae quam harum itaque dolorum. Sed</p>
    </section>
   <footer>
    <p>Este es el pie de pagina</p>
   </footer>
</body>
</html>