<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!--titulo-->
    <header><h1>Casos de uso del machine learning supervisado</h1></header>
    <!--Que es-->
    <section class="seccion1 sombra" >  
        <h2>¿Qué es el machine learning supervisados?</h2>
        <p>El machine learning supervisado es un tipo de aprendizaje automático en el que un modelo es entrenado utilizando un conjunto de datos etiquetado. Esto significa que cada ejemplo en los datos de entrenamiento incluye 
            tanto las características de entrada como la respuesta esperada (etiqueta o salida deseada).</p>     
    </section>
    <!--Como Funciona-->
    <section class="seccion2 sombra">  
        <h2>¿Como Funciona?</h2>
        <p>El Machine Learning supervisado funciona entrenando un modelo con datos etiquetados, donde se proporcionan ejemplos con entradas y sus respuestas esperadas. Primero, los datos se recopilan, limpian y dividen en conjuntos de entrenamiento y prueba. Luego, se elige un algoritmo adecuado (como regresión o clasificación) y se entrena el modelo ajustando sus parámetros para minimizar el error. Tras evaluar su rendimiento con métricas como precisión o error cuadrático medio, el modelo se optimiza y se usa para hacer predicciones con nuevos datos.</p>
    </section>
    <!--Casos de Uso-->
    <section class="seccion3 sombra">  
        <h2>Casos de Uso</h2>
        <p>El Machine Learning supervisado tiene muchos casos de uso en distintas industrias. Aquí algunos ejemplos: </p>
        <img src="{{ url_for('static', filename='img/img1.jpg') }}" alt="Imagen" class="img-centrada">
        <div class="contenedor">
            <div class ="cuadro">
                <h2>Finanzas</h2>
        <p>
           - Detección de fraudes en transacciones bancarias.
        </p>
        <p>
           - Predicción de riesgo crediticio.
        </p>
        <img src="{{ url_for('static', filename='img/img2.png') }}" alt="Imagen">

            </div>
            <div class ="cuadro">
                <h2>Salud</h2>
        <p>
            - Diagnóstico de enfermedades basado en imágenes médicas.
        </p>
        <P>
            - Predicción de posibles brotes de enfermedades.
        </p>
        <img src="{{ url_for('static', filename='img/img3.jpg') }}" alt="Imagen">
            </div>
            <div class ="cuadro">
                <h2>Marketing y Ventas</h2>
        <p>
            - Recomendación de productos (ej. Netflix, Amazon).
        </p>
        <P>
            - Análisis de abandono de clientes (churn prediction).
        </p>
        <img src="{{ url_for('static', filename='img/img4.jpg') }}" alt="Imagen">
            </div>
            <div class ="cuadro">
                <h2>Industria Automotriz</h2>
        <p>
            - Detección de obstáculos en vehículos autónomos.
        </p>
        <P>
            - Mantenimiento predictivo de maquinaria.
        </p>
        <img src="{{ url_for('static', filename='img/img5.png') }}" alt="Imagen">
            </div>
            <div class ="cuadro">
                <h2>Procesamiento de Lenguaje Natural (NLP)</h2>
        <p>
            - Análisis de sentimientos en redes sociales.
        </p>
        <P>
            - Clasificación de correos electrónicos como spam o no spam.
        </p>
        <img src="{{ url_for('static', filename='img/img6.jpeg') }}" alt="Imagen">
            </div>
            <div class ="cuadro">
                <h2> Seguridad</h2>
        <p>
            - Reconocimiento facial y biometría.
            
        </p>
        <p> 
            - Detección de amenazas cibernéticas.
        </p>
       
        <img src="{{ url_for('static', filename='img/img7.jpg') }}" alt="Imagen">
            </div>


        </div>

        <p>En general, el Machine Learning supervisado se usa para predecir, clasificar o automatizar decisiones basadas en datos previos. </p>
    </section>

   <footer>
    <p>Este es el pie de pagina</p>
    <p>https://www.ibm.com/mx-es/think/topics/machine-learning-use-cases?utm_source=chatgpt.com</p>
    <p>https://www.datacamp.com/es/blog/top-machine-learning-use-cases-and-algorithms?utm_source=chatgpt.com</p>
    <p>https://codster.io/blog/inteligencia-artificial/casos-de-uso-machine-learning/?utm_source=chatgpt.com</p>

    <img src="{{ url_for('static', filename='img/img9U.jpg') }}" alt="Imagen">
   </footer>
</body>
</html>