<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>
<body>

    <div class="titulo-menu">Menú de Navegación</div>

    <nav>
        <ul class="menuItems">
            <li><a href="{{ url_for('exampleHTML') }}" data-item="Casos de uso">Casos de uso</a></li>
            <li><a href="{{ url_for('mapaHTML') }}" data-item="Mapa Conceptual">Mapa Conceptual</a></li>
            <li><a href="{{ url_for('regrecionlineal_endpoint') }}" data-item="Regresión Lineal">Regresión Lineal</a></li>
            <li>
                <a href="{{ url_for('sigmoidvista') }}" data-item="Regresión Logistica">Regresión Logistica</a>
                <select id="opciones" onchange="redirigir()">
                    <option disabled selected>Selecciona una opción</option>
                    <option value="{{ url_for('exampleHTML') }}">Opción 1 - Casos de Uso</option>
                    <option value="{{ url_for('mapaHTML') }}">Opción 2 - Mapa Conceptual</option>
                    <option value="{{ url_for('regrecionlineal_endpoint') }}">Opción 3 - Regresión Lineal</option>
                </select>
            </li>
            <li><a href="{{ url_for('xgmodelo') }}" data-item="XGBoost">XGBoost</a></li>
            <li><a href="{{ url_for('resultados') }}" data-item="Historial de Resultados">Historial de Resultados</a></li>
        </ul>
    </nav>

    <script>
        function redirigir() {
            const select = document.getElementById('opciones');
            const ruta = select.value;
            if (ruta) {
                window.location.href = ruta;
            }
        }
    </script>

</body>
</html>