<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regresion Logistica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu_regresion_logistica.css') }}">
</head>
<body>
    <!-- Menú de navegación -->
    <nav> 
        <a href="#Titulo">Título</a>
        <a href="#Objetivo">Descripción</a>
        <a href="#Descripcion">Objetivo</a>
    </nav>
    <!-- Secciones de la página -->
    <section id="Titulo">
        <h1>Regresion Logistico</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab eligendi quam, alias sed vero deleniti et, sit quisquam cupiditate voluptatem vitae distinctio aperiam, dolore unde minus molestiae repellat rerum natus?</p>
    </section>
    <section id="Objetivo">
        <h1>Objetivo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non labore hic tenetur neque unde odit blanditiis, inventore architecto. Ipsa consectetur quas doloremque facilis maiores rem nesciunt porro nemo ut.</p>
    </section>
    <section id="Descripcion">
        <h1>Descripcion</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, dolorem optio. Labore voluptatibus beatae, ut incidunt debitis expedita quas voluptas, assumenda iure fugit qui libero quos placeat! Aperiam, beatae dicta.</p>
    </section>
  
    
</body>
</html>