<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
</head>
<body>

    <div class="titulo-menu">Menú de Navegación</div>

    <nav>
        <ul class="menuItems">
            <li><a href="{{ url_for('exampleHTML') }}" data-item="Casos de uso">Casos de uso</a></li>
            <li><a href="{{ url_for('mapaHTML') }}" data-item="Mapa Conceptual">Mapa Conceptual</a></li>
            <li><a href="{{ url_for('regrecionlineal_endpoint') }}" data-item="Regresión Lineal">Regresión Lineal</a></li>
            <li>
                <a href="{{ url_for('index') }}" data-item="Regresión Logistica">Regresión Logistica</a>
                <select id="opciones" onchange="redirigir()">
                    <option disabled selected>Selecciona una opción</option>
                    <option value="{{ url_for('infoRegresionLogistica') }}">Regresion Logistica</option>
                    <option value="{{ url_for('infoKNN') }}">KNN</option>
                    <option value="{{ url_for('infoArbolesDecision') }}">Arbol Decisiones</option>
                    <option value="{{ url_for('infoRandomForest') }}">Random Forest</option>
                    <option value="{{ url_for('infoSVM') }}">SVM</option>
                    <option value="{{ url_for('infoXGBoost') }}">XGBoost</option>
                    <option value="{{ url_for('infoAdaBoost') }}">AdaBoost </option>
                    <option value="{{ url_for('infoNaiveBayes') }}">Naive Bayes</option>
                </select>
            </li>
        </ul>
    </nav>

    <script>
        function redirigir() {
            const select = document.getElementById('opciones');
            const ruta = select.value;
            if (ruta) {
                window.location.href = ruta;
            }
        }
    </script>

</body>
</html>